.recommendations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;

  .movie-card-re {
    width: 100%;
    padding: 12px;

    .wrapper {
      display: flex;
      align-items: flex-start;
      gap: 12px;
      cursor: pointer;

      .image {
        width: 80px;
        height: 120px;
      }

      .image > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }

      .content {
        flex: 1;
        display: flex;
        height: 120px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 12px;

        .title {
          font-size: 14px;
          font-weight: 500;
          color: white;
          opacity: 0.9;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-word;
        }

        .wrapper {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 12px;
          color: white;

          .release {
            opacity: 0.7;
          }

          .vote {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
          }
        }

        .watch-now {
          margin-top: auto;
        }
      }
    }
  }
}
