@use "../../scss/breakpoint" as *;

.movie-list {
  .swiper-slide {
    // width: 15%;
    padding: 30px 0;
    @include tablet {
      width: 30%;
    }

    @include mobile {
      width: 40%;
    }
  }
}
