.popup {
  &-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

    .popup-content {
      position: relative;
    }

    .popup-close {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      color: #2f2f2f;
      z-index: 4444;

      .icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;
        opacity: 0.3;
      }

      &:hover {
        .icon {
          opacity: 1;
        }
      }
    }
  }
}
