.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0%;
  z-index: 100;
  background-color: #0f0f0f;
  border: 1px solid #1f1f1f;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.header-logo {
  height: 50px;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 5px 12px;
}
.header-item {
  font-size: 16px;
  font-weight: 500;
  color: white;
  opacity: 0.5;
}
.header-item-active {
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.header-users {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  cursor: pointer;
}
.user-avatar {
  width: 35px;
  height: 35px;
}
.user-avatar > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.user-name {
  font-size: 15px;
  font-weight: 600;
}

// header info

.header-info {
  min-width: 220px;
  background-color: #1f1f1f;
}

.users {
  padding: 15px;
  border-bottom: 1px solid #0f0f0f;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-info > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.header-content-item {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #eee;
  font-weight: 500;
  transition: all 0.2s;
  cursor: pointer;
}
.header-content-item:hover {
  background-color: #2f2f2f;
}
