.footer {
  background-color: #181a23;
}
.footer-wrapper {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}
.footer-logo {
  padding: 50px 0 20px 0;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
.footer-grid .content {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
