.info-group {
  padding: 10px;
  overflow: overlay;

  .wrapper {
    width: 700px;
    height: auto;
    border-radius: 10px;

    transition: all 0.3s ease-in-out;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #2f2f2f;
    border-radius: 8px;
  }

  .info-group-content {
    position: relative;
  }

  .content-detail {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}
